@import "../../shared/styles/fonts";
@import "../../shared/styles/constants";

.itemForecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family-main;
  margin: 1rem;
  &Temp {
    display: block;

  }
  &Period {
    text-transform: capitalize;
    font-size: .75rem;
  }
  &Icon {
    width: 40px;
  }
}