@import '../../shared/styles/constants';

.timeForecast {
  display: block;
  height: 140px;
  background-image: url("../../shared/images/line_shadow.svg");
  background-position-y: -80px;
  background-repeat: no-repeat;
  padding: $paddingSection;
  &Button {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &Inactive {
      font-size: .9rem;
      font-weight: normal;
      color: #898989;
    }
  }
  &Button:hover {
    text-decoration: underline;
  }

}
