@import "../shared/styles/fonts";
@import "../shared/styles/constants";
@import "./styles/global.scss";
.App {
  margin: 0 auto;
  width: $app-width;
  background-color: $bg-color;
  font-family: $font-family-main;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

