@import "../styles/constants";

.input {
  font-size: 1.25rem;
  font-weight: bold;
  border: 0;
  font-family: $font-family-main;
  padding: 0;
  border: 1px solid transparent;
  text-transform: capitalize;
  position: relative;
  width: 280px;
  box-sizing: border-box;
  &:focus {
    border: 1px solid black;
    outline: none;
  }
}
