@import "../styles/constants";

.input {
  font-size: 1.25rem;
  font-weight: bold;
  border: 0;
  font-family: $font-family-main;
  padding: 0;
  border: 1px solid $bg-accent;
  text-transform: capitalize;
  width: 280px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  &:focus {
    border: 1px solid black;
    outline: none;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 255px;
  font-weight: bold;
  font-size: .7rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: initial;
  text-transform: uppercase;
}

