@import "../styles/constants";
.wrapper {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: $bg-accent;
	border: 4px solid $accent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button {
	border: 4px solid $bg-accent;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
}