@import "../styles/constants";

.SearchHints {
  position: absolute;
  background-color: $bg-hits;
  width: 280px;
  padding: 1rem;
  box-sizing: border-box;
}
.SearchHint {
  text-decoration: none;
  cursor: pointer;
}
.SearchHint:hover {
  text-decoration: underline;
  font-weight: bold;
}